.shopSection {
  margin-left: 200px;
  transition: margin-left 0.5s;
}

.main {
  padding: 20px 0 40px 0;
  text-align: center;
  justify-content: center;

  .productsHeader {
    h4 {
      padding: 40px 0 40px 0;
      font-family: $mainLinkText;
      font-weight: 600;
    }
  }
  .productVitrin {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
    .card {
      cursor: pointer;
      position: unset !important;
      border: none !important;
      padding-bottom: 15p !important;
      margin: auto;
      .card-body {
        .card-text {
          font-family: $product;
          font-size: 24px;
          letter-spacing: 1px;
          font-weight: bolder;
        }
        .card-text.price {
          color: rgb(102, 102, 102);
        }
      }
    }
  }
}

//filter side menu
.openFilters {
  position: fixed;
  font-family: $mainLinkText;
  z-index: 10;
  top: 50%;
  font-size: 17px;
  left: 0;
  color: rgb(116, 116, 116);
  cursor: pointer;
}
.filterBar {
  z-index: 11;
  transition: 0.5s;
  overflow: auto;
  position: fixed;
  // height: 100vh!important;
  height: -webkit-fill-available !important;
  width: 200px;
  background-color: white;
  padding-top: 100px;
  .closebtn {
    float: right;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  ul {
    text-align: center;
    a {
      text-align: center;
      color: black;
      span {
        font-family: $mainLinkText;
        font-size: 11px;
        letter-spacing: 0.7px;
      }
    }
    .filterHeader {
      font-size: 14px;
      padding-bottom: 10px;
      font-weight: 800;
    }
    li {
      font-size: 13px;
      letter-spacing: 0.7px;
      display: flex;
      align-items: center;
      padding: 5px;
      font-family: $mainLinkText;
      padding-left: 15px;
      i {
        padding-right: 4px;
      }
    }
  }
}
//filter side menu

//breadcrumb filter

.breadcrumb {
  display: flex !important;
  flex-wrap: nowrap;
  align-items: center;
  background-image: linear-gradient(
    120deg,
    #fdfbfb 0%,
    #ebedee 100%
  ) !important;
  select {
    option {
      font-family: $mainLinkText;
      font-size: 17px;
      color: rgb(80, 80, 80);
      font-weight: bold;
    }
  }
  span {
    padding-right: 5px;
    letter-spacing: 1px;
    font-size: 13px;
    font-family: $mainLinkText;
  }
}

//breadcrumb filter

//PRODUCT DETAIL PAGE
.container {
  padding-top: 90px;
  padding-bottom: 10px;
}

.pImgGallery {
  margin: 0 auto;
}
.header {
  margin: 0 auto;
}

.wrapper {
  justify-content: center;
  align-items: center;
  float: left;
  .thumbnail-inner {
    // display: flex;
    // overflow-x: auto;
    // max-width: 350px;
    // border: 1px solid red;
  }
}

.thumbnail-inner {
  float: left;
}
.thumbnail-inner img {
  width: 120px;
  height: 120px;
  margin: 8px 0px 0px 12px;
  border-radius: 6px;
  object-fit: cover;
  opacity: 0.7;
  cursor: pointer;
}
.thumbnail-inner img:hover {
  opacity: 1;
}

.details-right {
  width: 100%;
  font-family: $mainLinkText;
  float: left;
  p {
    margin: 0;
  }
  .header {
    display: block;
    text-align: left;
    font-family: $mainLinkText;
    span {
      color: black;
    }
    p {
      font-size: 11px;
      color: rgb(70, 70, 70);
    }
  }
  .price {
    padding-top: 20px;
    display: flex;
    text-align: left;
    padding-left: 18px;
    align-items: center;
    span {
      font-size: 20px;
      padding-right: 20px;
    }
    p {
      font-size: 13px;
      line-height: 12px;
      font-weight: 800;
      color: black;
      border: 1px solid black;
      padding: 3px;
    }
  }
  .sizes {
    padding-top: 20px;
    padding-left: 18px;
    display: block;
    p {
      font-size: 14px;
      font-weight: 800;
    }
    .sizeWrapper {
      display: flex;
      p {
        margin-right: 4px;
        border: 1px solid black;
        padding: 4px;
        font-size: 9px;
        letter-spacing: 1px;
        width: max-content;
      }
    }
  }
  .btn {
    padding-top: 20px;
    button {
      background-color: black;
      color: white;
      padding: 4px 40px 4px 40px;
      width: 300px;
    }
  }
  .detail {
    padding-top: 20px;
    display: block;
    padding-left: 18px;
    span {
      font-size: 14px;
    }
    p {
      margin-top: 5px;

      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .col-sm {
    flex-grow: unset !important;
  }
  .details-right {
    margin: 0 auto;
    padding-top: 30px;
  }
}

//PRODUCT DETAIL PAGE
