.arrows {
  top: 50%;
  position: fixed;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px 0 15px;
}

.arrowLeft {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

i {
  font-size: 20px;
}

span {
  font-size: 20px;
  font-weight: 600;
}

.tabsMini {
  display: none;
  position: fixed;
  bottom: 0%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  width: 100%;
  padding-bottom: 20px;
}

.tabsMini .tabs span {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 12px 0 12px;
  font-weight: 700;
}

@media only screen and (max-width: 571px) {
  .arrows {
    display: none;
  }
  .tabsMini {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.tabs span {
  color: black;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.section1 h4 {
  color: white;
  font-family: "Archivo Black", sans-serif !important;
  font-size: 70px;
}

.section1 h4 span {
  font-family: "Archivo Black", sans-serif !important;
  font-size: 70px;
  color: black;
}

.section1 p {
  font-family: "Raleway", sans-serif;
  color: white;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.section2 h4 {
  color: black;
  font-family: "Archivo Black", sans-serif !important;
  font-size: 70px;
}

.section2 h4 span {
  font-family: "Archivo Black", sans-serif !important;
  font-size: 70px;
  color: black;
}

.section2 p {
  font-family: "Raleway", sans-serif;
  color: black;
}

.text button {
  font-family: "Archivo Black", sans-serif;
  padding: 5px 20px 5px 20px;
  background: transparent;
  border: 2px solid black;
}

.sliderWrapper {
  padding-top: 40px;
  padding-bottom: 30px;
  width: 75vw;
  margin: auto;
}

.sliderWrapper .sliderContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  cursor: pointer;
}

.sliderWrapper .sliderContents:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.sliderWrapper .sliderContents .card1 {
  padding: 5px 15px 5px 15px;
}

.sliderWrapper .sliderContents .card1 .card-img-top {
  width: 200px !important;
}

.card-body p {
  text-align: center;
}

.sliderHeader {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

@media only screen and (max-width: 600px) {
  .section2 p {
    color: white;
  }
  .section2 .text button {
    border: 2px solid gray;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container {
  margin: 0;
  padding: 0;
}

footer .container .row {
  margin: 0;
  padding: 0;
}

.foot-col {
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 50px;
}

.foot-col ul li {
  text-decoration: none;
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.foot-col ul .footer-header {
  padding-bottom: 10px;
}

.footer-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-input i {
  font-size: 11px;
}

.footer-input input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  padding-right: 20px;
}

.footer-social i {
  padding: 5px;
}

.footer-end {
  font-weight: lighter;
  color: gray;
  font-size: 11px;
}

.section3 {
  margin-left: 200px;
}

.main {
  padding: 20px 0 40px 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .productsHeader h4 {
  padding: 40px 0 40px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.main .productVitrin {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
}

.main .productVitrin .card {
  cursor: pointer;
  position: unset !important;
  border: none !important;
  padding-bottom: 15p !important;
  margin: auto;
}

.main .productVitrin .card .card-body .card-text {
  font-family: "Amatic SC", cursive;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: bolder;
}

.main .productVitrin .card .card-body .card-text.price {
  color: #666666;
}

.filterBar {
  overflow: auto;
  position: fixed;
  height: 100vh;
  width: 200px;
  background-color: white;
  padding-top: 100px;
}

.filterBar ul {
  text-align: center;
}

.filterBar ul a {
  text-align: center;
  color: black;
}

.filterBar ul a span {
  font-family: "Raleway", sans-serif;
  font-size: 11px;
  letter-spacing: 0.7px;
}

.filterBar ul .filterHeader {
  font-size: 14px;
  padding-bottom: 10px;
  font-weight: 800;
}

.filterBar ul li {
  font-size: 13px;
  letter-spacing: 0.7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  font-family: "Raleway", sans-serif;
  padding-left: 15px;
}

.filterBar ul li i {
  padding-right: 4px;
}

.breadcrumb {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%) !important;
}

.breadcrumb select option {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  color: #505050;
  font-weight: bold;
}

.breadcrumb span {
  padding-right: 5px;
  letter-spacing: 1px;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
}

.container {
  padding-top: 90px;
  padding-bottom: 10px;
}

.pImgGallery {
  margin: 0 auto;
}

.header {
  margin: 0 auto;
}

.wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
}

.thumbnail-inner {
  float: left;
}

.thumbnail-inner img {
  width: 120px;
  height: 120px;
  margin: 8px 0px 0px 12px;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
  cursor: pointer;
}

.thumbnail-inner img:hover {
  opacity: 1;
}

.details-right {
  width: 100%;
  font-family: "Raleway", sans-serif;
  float: left;
}

.details-right p {
  margin: 0;
}

.details-right .header {
  display: block;
  text-align: left;
  font-family: "Raleway", sans-serif;
}

.details-right .header span {
  color: black;
}

.details-right .header p {
  font-size: 11px;
  color: #464646;
}

.details-right .price {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  padding-left: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details-right .price span {
  font-size: 20px;
  padding-right: 20px;
}

.details-right .price p {
  font-size: 13px;
  line-height: 12px;
  font-weight: 800;
  color: black;
  border: 1px solid black;
  padding: 3px;
}

.details-right .sizes {
  padding-top: 20px;
  padding-left: 18px;
  display: block;
}

.details-right .sizes p {
  font-size: 14px;
  font-weight: 800;
}

.details-right .sizes .sizeWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details-right .sizes .sizeWrapper p {
  margin-right: 4px;
  border: 1px solid black;
  padding: 4px;
  font-size: 9px;
  letter-spacing: 1px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.details-right .btn {
  padding-top: 20px;
}

.details-right .btn button {
  background-color: black;
  color: white;
  padding: 4px 40px 4px 40px;
  width: 300px;
}

.details-right .detail {
  padding-top: 20px;
  display: block;
  padding-left: 18px;
}

.details-right .detail span {
  font-size: 14px;
}

.details-right .detail p {
  margin-top: 5px;
  font-size: 15px;
}

@media only screen and (max-width: 768px) {
  .col-sm {
    -webkit-box-flex: unset !important;
        -ms-flex-positive: unset !important;
            flex-grow: unset !important;
  }
  .details-right {
    margin: 0 auto;
    padding-top: 30px;
  }
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* ::-webkit-scrollbar {
  width: 5px;
}

* ::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}

.kidSection .section1.section {
  background: url(/assets/kids2.jpg);
  background-position-x: left !important;
}

.kidSection .section2.section {
  background: url(/assets/kids1.jpg);
  background-position-x: center !important;
}

.womanSection .section1.section {
  background: url(/assets/woman1.jpg);
}

.womanSection .section2.section {
  background: url(/assets/woman2.jpg);
  background-position-x: left !important;
}

.manSection .section1.section {
  background: url(/assets/men2.jpg);
  background-position-x: left !important;
}

.manSection .section2.section {
  background: url(/assets/man1.jpg);
  background-position-x: center !important;
}

.section {
  height: 100vh !important;
  width: 100% !important;
  background-size: cover !important;
  background-position-x: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  background-repeat: no-repeat !important;
}

.bg-myVar {
  opacity: 1;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%) !important;
}

.navbarUl {
  margin-left: auto;
}

.navbarUl li {
  font-family: "Raleway", sans-serif;
}

.navbarUl li a {
  color: black !important;
}

.navbar-brand {
  font-family: "Cinzel", serif;
  font-size: 24px;
}

.navSearch {
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid #ced4da;
}

.navSearch:focus {
  color: black !important;
  background-color: transparent !important;
  border-color: unset !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form-inline {
  padding-right: 75px;
}

.form-inline i {
  color: #ced4da;
}

.form-inline div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-toggler {
  margin-right: auto;
}

.shopCartIcon {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px 30px 0px 20px;
}

.shopCartIcon i {
  font-size: 25px;
  color: #929292;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 650px;
  height: 60vh;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin: 0 !important;
  padding: 0 !important;
}

.dropdown-content .subHeaders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dropdown-content .subHeaders li {
  text-decoration: none;
  list-style: none;
  padding-top: 10px;
}

.dropdown-content .subHeaders li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.dropdown-content .subHeadersImg {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

#newest {
  background-image: url(/assets/clothesaski.jpg);
}

#beach {
  background-image: url(/assets/beach.jpg);
}

#lingerie {
  background-image: url(/assets/lingerie.jpg);
}

.Mydropdown:hover .collapse {
  display: block;
}

.nested {
  display: none;
}

@media only screen and (max-width: 400px) {
  .section {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position-y: bottom !important;
  }
  .kidSection .section1.section {
    background: url(/assets/kids2portrait.jpg);
  }
  .kidSection .section2.section {
    background: url(/assets/kid1portrait.jpg);
  }
  .womanSection .section1.section {
    background: url(/assets/woman1portrait.jpg);
  }
  .womanSection .section2.section {
    background: url(/assets/woman2portrait.jpg);
    background-position-x: inherit !important;
  }
  .manSection .section1.section {
    background: url(/assets/men2port.jpg);
  }
  .manSection .section2.section {
    background: url(/assets/man1port.jpg);
    background-position-x: inherit !important;
  }
}

@media only screen and (max-width: 992px) {
  .Mydropdown:hover .dropdown-content {
    display: none !important;
  }
  .caret {
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
  }
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  .caret-down::before {
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
  }
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .dropdown-content {
    width: 55vw;
    height: 300px;
    overflow: auto;
  }
  .dropdownOnClick {
    display: block !important;
    -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
  }
  .dropdown-content .subHeaders {
    display: block;
  }
  .subHeadersImg {
    display: none;
  }
}

.page2 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: red;
}

.slide-in {
  -webkit-animation: slide-in 0.5s ease forwards;
          animation: slide-in 0.5s ease forwards;
}

@-webkit-keyframes slide-in {
  from {
    -webkit-transition: translateX(100%);
    transition: translateX(100%);
    visibility: visible;
  }
  to {
    -webkit-transition: translateX(0%);
    transition: translateX(0%);
  }
}

@keyframes slide-in {
  from {
    -webkit-transition: translateX(100%);
    transition: translateX(100%);
    visibility: visible;
  }
  to {
    -webkit-transition: translateX(0%);
    transition: translateX(0%);
  }
}

.tabs a {
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  border-top: 1px solid #c8c8c8;
  padding-top: 5px;
  border-radius: 5px;
  color: rgba(250, 250, 250, 0.4);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 250, 0.15)), to(rgba(0, 0, 0, 0.25)));
  background: linear-gradient(top, rgba(250, 250, 250, 0.15), rgba(0, 0, 0, 0.25));
  text-decoration: none;
  margin-left: 5px;
  font-family: "Raleway", sans-serif;
}

.arrows a {
  color: black;
  text-decoration: none;
}

.navUL {
  position: absolute;
}

.navUL li {
  list-style: none;
  text-decoration: none;
  padding-left: 15px;
  padding-bottom: 4px;
}

.navUL .navUlsubHeader {
  padding-top: 15px;
  padding-bottom: 10px;
}

.navUL img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 991px) and (max-device-width: 1960px) {
  .nav-item:hover .navUL {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navUL.collapse.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-item .navUL {
    background: #f1f1f1;
    width: 100vw;
    left: 0;
    right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 300px;
  }
  .nav-item .navUL li {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-collapse {
    background-color: #f8f9fa;
  }
  .navbar-collapse .form-inline {
    margin-left: 25px;
  }
  .navUL {
    position: relative;
    background-color: #e9ecef;
  }
  .navUL img {
    display: none;
  }
  .navbar-collapse .navbarUl {
    text-align: left !important;
    margin-left: 20px;
  }
  .navbar-collapse .navbarUl li {
    padding-left: 20px;
  }
}

.section3 {
  padding-top: 40px;
}

.banner {
  padding-bottom: 25px;
}
/*# sourceMappingURL=index.css.map */