.arrows {
  top: 50%;
  position: fixed;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px 0 15px;
}

.arrowLeft {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

i {
  font-size: 20px;
}

span {
  font-size: 20px;
  font-weight: 600;
}

.tabsMini {
  display: none;
  position: fixed;
  bottom: 0%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  width: 100%;
  padding-bottom: 20px;
}

.tabsMini .tabs span {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 12px 0 12px;
  font-weight: 700;
}

@media only screen and (max-width: 571px) {
  .arrows {
    display: none;
  }
  .tabsMini {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.tabs span {
  color: black;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.section1 h4 {
  color: white;
  font-family: "Archivo Black", sans-serif !important;
  font-size: 70px;
}

.section1 h4 span {
  font-family: "Archivo Black", sans-serif !important;
  font-size: 70px;
  color: black;
}

.section1 p {
  font-family: "Raleway", sans-serif;
  color: white;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.section2 h4 {
  color: black;
  font-family: "Archivo Black", sans-serif !important;
  font-size: 70px;
}

.section2 h4 span {
  font-family: "Archivo Black", sans-serif !important;
  font-size: 70px;
  color: black;
}

.section2 p {
  font-family: "Raleway", sans-serif;
  color: black;
}

.text button {
  font-family: "Archivo Black", sans-serif;
  padding: 5px 20px 5px 20px;
  background: transparent;
  border: 2px solid black;
}

.main {
  padding: 40px 0 40px 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .productsHeader h4 {
  padding: 40px 0 40px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.main .productVitrin {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-gap: 1rem;
  cursor: pointer;
}

.main .productVitrin .card {
  position: unset !important;
  border: none !important;
  padding-bottom: 15p !important;
  margin: auto;
}

.sliderWrapper {
  padding-top: 40px;
  padding-bottom: 30px;
  width: 75vw;
  margin: auto;
}

.sliderWrapper .sliderContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  cursor: pointer;
}

.sliderWrapper .sliderContents:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.sliderWrapper .sliderContents .card1 {
  padding: 5px 15px 5px 15px;
}

.sliderWrapper .sliderContents .card1 .card-img-top {
  width: 200px !important;
}

.card-body p {
  text-align: center;
}

.sliderHeader {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

@media only screen and (max-width: 600px) {
  .section2 p {
    color: white;
  }
  .section2 .text button {
    border: 2px solid gray;
  }
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* ::-webkit-scrollbar {
  width: 5px;
}

* ::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}

.kidSection .section1.section {
  background: url(/assets/kids2.jpg);
  background-position-x: left !important;
}

.kidSection .section2.section {
  background: url(/assets/kids1.jpg);
  background-position-x: center !important;
}

.womanSection .section1.section {
  background: url(/assets/woman1.jpg);
}

.womanSection .section2.section {
  background: url(/assets/woman2.jpg);
  background-position-x: left !important;
}

.manSection .section1.section {
  background: url(/assets/men2.jpg);
  background-position-x: left !important;
}

.manSection .section2.section {
  background: url(/assets/man1.jpg);
  background-position-x: center !important;
}

.section {
  height: 100vh !important;
  width: 100% !important;
  background-size: cover !important;
  background-position-x: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  background-repeat: no-repeat !important;
}

.bg-myVar {
  opacity: 1;
  background-color: RGBA(255, 255, 255, 0.04) !important;
}

.navbarUl {
  margin-left: auto;
}

.navbarUl li {
  font-family: "Raleway", sans-serif;
}

.navbarUl li a {
  color: black !important;
}

.navbar-brand {
  font-family: "Cinzel", serif;
  font-size: 24px;
}

.navSearch {
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid #ced4da;
}

.navSearch:focus {
  color: black !important;
  background-color: transparent !important;
  border-color: unset !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form-inline {
  padding-right: 75px;
}

.form-inline i {
  color: #ced4da;
}

.form-inline div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-toggler {
  margin-right: auto;
}

.shopCartIcon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 30px 0px 20px;
}

.shopCartIcon i {
  font-size: 25px;
  color: #ced4da;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 650px;
  height: 60vh;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin: 0 !important;
  padding: 0 !important;
}

.dropdown-content .subHeaders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dropdown-content .subHeaders li {
  text-decoration: none;
  list-style: none;
  padding-top: 10px;
}

.dropdown-content .subHeaders li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.dropdown-content .subHeadersImg {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

#newest {
  background-image: url(/assets/clothesaski.jpg);
}

#beach {
  background-image: url(/assets/beach.jpg);
}

#lingerie {
  background-image: url(/assets/lingerie.jpg);
}

.Mydropdown:hover .dropdown-content {
  display: block;
}

.nested {
  display: none;
}

@media only screen and (max-width: 400px) {
  .section {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position-y: bottom !important;
  }
  .kidSection .section1.section {
    background: url(/assets/kids2portrait.jpg);
  }
  .kidSection .section2.section {
    background: url(/assets/kid1portrait.jpg);
  }
  .womanSection .section1.section {
    background: url(/assets/woman1portrait.jpg);
  }
  .womanSection .section2.section {
    background: url(/assets/woman2portrait.jpg);
    background-position-x: inherit !important;
  }
  .manSection .section1.section {
    background: url(/assets/men2port.jpg);
  }
  .manSection .section2.section {
    background: url(/assets/man1port.jpg);
    background-position-x: inherit !important;
  }
}

@media only screen and (max-width: 992px) {
  .Mydropdown:hover .dropdown-content {
    display: none;
  }
  .caret {
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
  }
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  .caret-down::before {
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
  }
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .dropdown-content {
    width: 55vw;
    height: 300px;
    overflow: auto;
  }
  .dropdownOnClick {
    display: block !important;
    -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
  }
  .dropdown-content .subHeaders {
    display: block;
  }
  .subHeadersImg {
    display: none;
  }
}

.page2 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: red;
}

.slide-in {
  -webkit-animation: slide-in 0.5s ease forwards;
          animation: slide-in 0.5s ease forwards;
}

@-webkit-keyframes slide-in {
  from {
    -webkit-transition: translateX(100%);
    transition: translateX(100%);
    visibility: visible;
  }
  to {
    -webkit-transition: translateX(0%);
    transition: translateX(0%);
  }
}

@keyframes slide-in {
  from {
    -webkit-transition: translateX(100%);
    transition: translateX(100%);
    visibility: visible;
  }
  to {
    -webkit-transition: translateX(0%);
    transition: translateX(0%);
  }
}

.tabs a {
  color: white;
  text-decoration: none;
}

.arrows a {
  color: black;
  text-decoration: none;
}
/*# sourceMappingURL=index.css.map */