@import "./content";
@import "./section1";
@import "./var"; //ps fon adı amithen
@import "./footer";
@import "./shop";
@import "./shoppingCart";
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
  }
}
.kidSection {
  .section1.section {
    background: url(../assets/kids2.jpg);
    background-position-x: left !important;
  }
  .section2.section {
    background: url(../assets/kids1.jpg);
    background-position-x: center !important;
  }
}

.womanSection {
  .section1.section {
    background: url(../assets/woman1.jpg);
  }
  .section2.section {
    background: url(../assets/woman2.jpg);
    background-position-x: left !important;
  }
}
.manSection {
  .section1.section {
    background: url(../assets/men2.jpg);
    background-position-x: left !important;
  }
  .section2.section {
    background: url(../assets/man1.jpg);
    background-position-x: center !important;
  }
}

.section {
  height: 100vh !important;
  width: 100% !important;
  background-size: cover !important;
  background-position-x: center !important;
  justify-content: center !important;
  align-items: center !important;
  background-repeat: no-repeat !important;
}

.bg-myVar {
  opacity: 1;
  background-image: linear-gradient(
    120deg,
    #fdfbfb 0%,
    #ebedee 100%
  ) !important;
}
.navbarUl {
  margin-left: auto;
  li {
    font-family: "Raleway", sans-serif;
    a {
      color: black !important;
    }
  }
}
.navbar-brand {
  font-family: $brandText;
  font-size: 24px;
}
.navSearch {
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid #ced4da;

  &:focus {
    color: black !important;
    background-color: transparent !important;
    border-color: unset !important;
    outline: 0 !important;
    box-shadow: none !important;
  }
}
.form-inline {
  padding-right: 75px;
  i {
    color: #ced4da;
  }
  div {
    align-items: center;
    display: flex;
  }
}

.navbar-toggler {
  margin-right: auto;
}

.shopCartIcon {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px 30px 0px 20px;
  i {
    font-size: 25px;
    color: #929292;
  }
}

//menu dropdown hover

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 650px;
  height: 60vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin: 0 !important;
  padding: 0 !important;

  .subHeaders {
    display: flex;
    justify-content: space-around;

    li {
      text-decoration: none;
      list-style: none;
      padding-top: 10px;
      a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-family: $mainLinkText;
      }
    }
  }
  .subHeadersImg {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
#newest {
  background-image: url(assets/clothesaski.jpg);
}
#beach {
  background-image: url(assets/beach.jpg);
}
#lingerie {
  background-image: url(assets/lingerie.jpg);
}
.Mydropdown:hover .collapse {
  display: block;
}

//tre deneme

.nested {
  display: none;
}

@media only screen and (max-width: 400px) {
  .section {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position-y: bottom !important;
  }

  .kidSection {
    .section1.section {
      background: url(../assets/kids2portrait.jpg);
    }
    .section2.section {
      background: url(../assets/kid1portrait.jpg);
    }
  }

  .womanSection {
    .section1.section {
      background: url(../assets/woman1portrait.jpg);
    }
    .section2.section {
      background: url(../assets/woman2portrait.jpg);
      background-position-x: inherit !important;
    }
  }

  .manSection {
    .section1.section {
      background: url(../assets/men2port.jpg);
    }
    .section2.section {
      background: url(../assets/man1port.jpg);
      background-position-x: inherit !important;
    }
  }
}

@media only screen and (max-width: 992px) {
  .Mydropdown:hover .dropdown-content {
    display: none !important;
  }

  .caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }

  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }

  .caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .dropdown-content {
    width: 55vw;
    height: 300px;
    overflow: auto;
  }
  .dropdownOnClick {
    display: block !important;
    animation: fadeIn 1s;
  }

  .dropdown-content .subHeaders {
    display: block;
  }

  .subHeadersImg {
    display: none;
  }
}

//
.page2 {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: red;
}

.slide-in {
  animation: slide-in 0.5s ease forwards;
}

@keyframes slide-in {
  from {
    transition: translateX(100%);
    visibility: visible;
  }
  to {
    transition: translateX(0%);
  }
}

//arrows
.tabs a {
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  border-top: 1px solid #c8c8c8;
  padding-top: 5px;
  border-radius: 5px;
  color: rgba($color: #fafafa, $alpha: 0.4);
  background: linear-gradient(
    top,
    rgba(250, 250, 250, 0.15),
    rgba(0, 0, 0, 0.25)
  );
  text-decoration: none;
  margin-left: 5px;
  font-family: $mainLinkText;
}
.arrows a {
  color: black;
  text-decoration: none;
}

//arrows

//content //

//new sidebar //
.navUL {
  position: absolute;
  li {
    list-style: none;
    text-decoration: none;
    padding-left: 15px;
    padding-bottom: 4px;
  }
  .navUlsubHeader {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  img {
    object-fit: cover;
  }
}
@media only screen and (min-width: 991px) and (max-device-width: 1960px) {
  .nav-item:hover .navUL {
    display: flex;
    justify-content: space-between;
  }
  .navUL.collapse.show {
    display: flex;
    justify-content: space-between;
  }

  .nav-item .navUL {
    background: #f1f1f1;
    width: 100vw;
    left: 0;
    right: 0;
    justify-content: center;
    height: 300px;
    li {
      padding-left: 50px;
    }
  }
}
@media only screen and (max-width: 991px) {
  .navbar-collapse {
    background-color: #f8f9fa;
    .form-inline {
      margin-left: 25px;
    }
  }
  .navUL {
    position: relative;
    background-color: #e9ecef;

    img {
      display: none;
    }
  }
  .navbar-collapse .navbarUl {
    text-align: left !important;
    margin-left: 20px;
    li {
      padding-left: 20px;
    }
  }
}

.section3 {
  padding-top: 40px;
}

.banner {
  padding-bottom: 25px;
}
//new sidebar //

//product vitrin
.productVitrin a {
  text-decoration: none;
  color: black;
}

.shopCartIcon {
  i {
    color: rgb(51, 51, 51) !important;
  }
  span {
    margin-top: 13px;
    position: absolute;
    font-size: 11.5px;
    width: 18px;
    height: 18px;
    text-align: center;
    font-weight: bold;
    background-color: #009e24;
    border-radius: 5px;
    color: white;
    font-family: $mainLinkText;
  }
}

.onerilenWrapper a {
  text-decoration: none;
  color: black;
}

// toast
#cooltoast-container {
  z-index: 99999999 !important;
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  /*   font-family: 'Helvetica'; */
}

.cooltoast-toast {
  position: relative;
  padding: 8px 12px;
  margin: 16px;
  border-radius: 8px;
  background: #47ff00ad;
  cursor: pointer;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.19);
  animation-duration: 0.3s;
  animation-name: cooltoast;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cooltoast-fadeOut {
  animation-name: cooltoastFadeOut;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: forwards;
}

#cooltoast-container p,
#cooltoast-container h4 {
  margin: 3px 0 !important;
}

.cooltoast-title {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
}

.cooltoast-text {
  font-size: 14px;
  color: #777;
}

.cooltoast-icon {
  position: absolute;
  top: 5px;
  left: -40px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #fff;
}

.cooltoast-toast a,
.cooltoast-toast a:hover {
  color: #549edb !important;
  text-decoration: none !important;
}

/** toast types */
.cooltoast-success {
  border-bottom: 2px solid #51c625;
}

.cooltoast-warning {
  border-bottom: 2px solid #db9215;
}

.cooltoast-error {
  border-bottom: 2px solid #db2b1d;
}

.cooltoast-info {
  border-bottom: 2px solid #27abdb;
}

@keyframes cooltoast {
  from {
    transform: translate3d(400px, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes cooltoastFadeOut {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(400px, 0, 0);
    opacity: 0;
  }
}
// toast

//search

.match-list {
  text-decoration: none;
  font-family: $product;
  background-color: transparent;
  position: absolute;
  z-index: 999;
  padding-top: 63px;
  right: 0;
  .matched {
    align-items: center;
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    text-decoration: none;
    color: black;
    display: flex;
    small {
      font-family: sans-serif;
      padding-left: 10px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .match-list {
    padding-top: 63px;
    left: 0;
    top: 254px;
  }
}

.shopLink {
  cursor: pointer;
}

li.shopLink {
  cursor: pointer;
}
